:root {
  --text-color-primary: #fff4cf;
  --text-color-secondary: #ffb200;
  --bg-color: #277bc0;
  --keyboard-width: 40rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-inline: 8px;
  background: var(--bg-color);
  background-image: linear-gradient(
    0deg,
    rgb(1, 19, 32) 0%,
    rgba(1, 19, 32, 0.582) 97%
  );
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: var(--keyboard-width);
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  margin-bottom: min(5rem, 40px);
}

.header h1 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  line-height: 1.6;
  transition: text-shadow 0.125s ease-in-out;
  white-space: nowrap;
  color: var(--text-color-secondary);
}

.header h1:hover {
  text-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

/* RESULTS SECTION */

.results-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
}

.results-description {
  line-height: 1.4;
  white-space: nowrap;
  color: var(--text-color-primary);
}

.results-value {
  text-align: center;
  color: var(--text-color-secondary);
}

#interval {
  text-decoration: underline;
  text-underline-offset: 6px;
  white-space: nowrap;
}

/*JOKE AND FACEPALM */

.joke-box {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 1.2rem;
  padding: 2rem;
  overflow: scroll;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-primary);
  background: rgba(0, 0, 0, 0.9);
}

.facepalm-box {
  position: absolute;
  top: 10rem;
  right: 50%;
  transform: translateX(50%);
  font-size: 8rem;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.clear,
.joke,
.real-joke {
  cursor: pointer;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: 400;
  transition: all 70ms ease-in-out;
  color: black;
  background: white;
}

.clear:hover,
.joke:hover,
.real-joke:hover {
  background: var(--text-color-secondary);
}

/* KEYS */

.key-pressed {
  transform: scale(0.96);
  transition: ease-in-out;
}

.keys {
  display: flex;
  width: var(--keyboard-width);
  height: calc(var(--keyboard-width) / 1.8);
  margin: 2rem auto;
  cursor: pointer;
  position: relative;
}

.white {
  border-radius: 7px;
}

.black {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.key:nth-of-type(5),
.key:nth-of-type(12) {
  border-top-right-radius: 4px;
}
.key:nth-of-type(6),
.key:nth-of-type(13) {
  border-top-left-radius: 4px;
}

.black {
  width: 17%;
  height: 61%;
  z-index: 2;
  margin-right: -3.8%;
  margin-left: -5%;
  background: black;
}
.white {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  background: white;
}
.f,
.c-2 {
  border-left: none;
}

@media screen and (max-width: 670px) {
  .wrapper {
    margin: 1rem 0.2rem;
  }

  .key-pressed {
    transform: none;
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .keys {
    width: 100%;
    height: 30vh;
  }
  .facepalm-box {
    top: 4rem;
    right: 50%;
    transform: translateX(50%);
    transform: translate(50%);
    font-size: 4rem;
  }
  .bottom-wrapper div p {
    font-size: 0.8rem;
  }
}
